body {
  font-family: "Arial", sans-serif;
  background-color: #f7f7f7;
  margin: 0;
  padding: 20px;
  color: #333;
}

h1 {
  background: linear-gradient(to right, #5d647b, #9fa8da);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 3rem;
}

form {
  margin-bottom: 20px;
}

input[type="text"] {
  padding: 10px;
  margin-right: 10px;
  width: 300px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

button {
  padding: 10px 20px;
  background-color: #5d647b;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #434a6f;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

li:last-child {
  margin-bottom: 0;
}

button.delete-btn {
  padding: 4px 5px;
  margin-left: auto;
  background-color: white;
}

button.delete-btn:hover {
  background-color: lightgrey;
}
